https://towardsdatascience.com/hyperparameter-tuning-for-machine-learning-models-1b80d783b946

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train_cols = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

In [6]:
X_train = df_train[train_cols]
y_train = df_train['Survived']

In [7]:
X_test = df_test[train_cols]
y_test = pd.read_csv('gender_submission.csv')['Survived']

In [8]:
X_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [9]:
X_train.value_counts('Sex', dropna=False)

Sex
male      577
female    314
dtype: int64

In [10]:
X_train.value_counts('Embarked', dropna=False)

Embarked
S      644
C      168
Q       77
NaN      2
dtype: int64

In [11]:
sex_dict = {'male':0, 'female':1}
embark_dict ={'S':0, 'C':1, 'Q':2, np.NAN:3}

In [12]:
X_train.Sex = X_train.Sex.apply(lambda x: sex_dict[x])
X_train.Embarked = X_train.Embarked.apply(lambda x: embark_dict[x])

C:\Users\Gang\AppData\Local\Temp\ipykernel_9928\574919360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.Sex = X_train.Sex.apply(lambda x: sex_dict[x])
C:\Users\Gang\AppData\Local\Temp\ipykernel_9928\574919360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.Embarked = X_train.Embarked.apply(lambda x: embark_dict[x])

In [13]:
X_train = X_train.fillna(0)

In [14]:
X_test.Sex = X_test.Sex.apply(lambda x: sex_dict[x])
X_test.Embarked = X_test.Embarked.apply(lambda x: embark_dict[x])

X_test = X_test.fillna(0)

C:\Users\Gang\AppData\Local\Temp\ipykernel_9928\2668532239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.Sex = X_test.Sex.apply(lambda x: sex_dict[x])
C:\Users\Gang\AppData\Local\Temp\ipykernel_9928\2668532239.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.Embarked = X_test.Embarked.apply(lambda x: embark_dict[x])

In [15]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(random_state=1).fit(X_train, y_train)
random_forest.score(X_test,y_test)

0.8157894736842105

In [16]:
random_forest.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 1,
 'verbose': 0,
 'warm_start': False}

In [17]:
parameters ={'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
     'criterion' : ['gini', 'entropy'],
     'max_features': [0.3,0.5,0.7,0.9],
     'min_samples_leaf': [3,5,7,10,15],
     'min_samples_split': [2,5,10],
     'n_estimators': [50,100,200,400,600]}
from sklearn.model_selection import ParameterGrid
param_size = ParameterGrid(parameters)
len(param_size)

6000

In [65]:
%%time
from sklearn.model_selection import GridSearchCV
grid_search = RandomForestClassifier()
grid_search = GridSearchCV(
    grid_search, 
    parameters, 
    cv=5,
    scoring='accuracy',n_jobs=-1)

grid_result= grid_search.fit(X_train, y_train)
print('Best Params: ', grid_result.best_params_)
print('Best Score: ', grid_result.best_score_)

Best Params:  {'criterion': 'gini', 'max_depth': 10, 'max_features': 0.7, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 50}
Best Score:  0.8406628585776159
CPU times: total: 1min 28s
Wall time: 4h 27min 46s

In [64]:
%%time
from sklearn.model_selection import RandomizedSearchCV
random_search=RandomizedSearchCV(estimator = RandomForestClassifier(), param_distributions=parameters,verbose=1, n_jobs=-1,
                            n_iter=200)
random_result = random_search.fit(X_train, y_train)
print('Best Score: ', random_result.best_score_*100)
print('Best Params: ', random_result.best_params_)

Fitting 5 folds for each of 200 candidates, totalling 1000 fits
Best Score:  83.841566756638
Best Params:  {'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 3, 'max_features': 0.9, 'max_depth': 40, 'criterion': 'entropy'}
CPU times: total: 3.86 s
Wall time: 5min 6s

In [21]:
%%time
import numpy as np
from hyperopt import hp, tpe, fmin,STATUS_OK,Trials
from sklearn.model_selection import cross_val_score
def accuracy_model(params):
   clf = RandomForestClassifier(**params)
   return cross_val_score(clf, X_train, y_train).mean()
param_space = {'max_depth': hp.choice('max_depth', range(10,100)),
'max_features': hp.uniform('max_features', 0.1,1),
'n_estimators': hp.choice('n_estimators', range(50,500)),
'min_samples_leaf': hp.choice('min_samples_leaf',range(3,5)),
'min_samples_split': hp.choice('min_samples_split',range(2,10)),
'criterion': hp.choice('criterion', ["gini", "entropy"])}
best = 0
def f(params):
    global best
    acc = accuracy_model(params)
    if acc > best:
       best = acc
    return {'loss': -acc, 'status': STATUS_OK}
Trials = Trials()
best_params = fmin(f, param_space , algo=tpe.suggest,max_evals=500, trials= Trials)
print('New best:', best, best_params)
print(best_params)

100%|██████████████████████████████████████████████| 500/500 [21:26<00:00,  2.57s/trial, best loss: -0.841786454083234]
New best: 0.841786454083234 {'criterion': 1, 'max_depth': 45, 'max_features': 0.8090586122129123, 'min_samples_leaf': 0, 'min_samples_split': 1, 'n_estimators': 355}
{'criterion': 1, 'max_depth': 45, 'max_features': 0.8090586122129123, 'min_samples_leaf': 0, 'min_samples_split': 1, 'n_estimators': 355}
CPU times: total: 21min 24s
Wall time: 21min 26s